<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.testt">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testt"
        tools:targetApi="31">
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".detail_sidang"
            android:exported="false" />
        <activity
            android:name=".jadwal_sidang"
            android:exported="false" />
        <activity
            android:name=".pendaftaran_sidang"
            android:exported="false" />
        <activity
            android:name=".semhas"
            android:exported="false" />
        <activity
            android:name=".sidang_ta"
            android:exported="false" />
        <activity
            android:name=".GantiPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DetailSeminar"
            android:exported="false" />
        <activity
            android:name=".JadwalPeserta"
            android:exported="false" />
        <activity
            android:name=".TambahPeserta"
            android:exported="false" />
        <activity
            android:name=".JadwalSemhas"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Seminar_Hasil"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>